{%  load static %}

<script src="{% static 'site/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'site/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'site/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'site/vendor/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'site/vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'site/vendor/select2/js/select2.min.js' %}"></script>
<script src="{% static 'site/js/number.js' %}"></script>
<script src="{% static 'site/js/main.js' %}"></script>
<script src="{% static 'site/js/header.js' %}"></script>
<script src="{% static 'site/vendor/svg4everybody/svg4everybody.min.js' %}"></script>

<script>
    svg4everybody();
</script>