{%  load static %}


<!-- fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
<!-- css -->
<link rel="stylesheet" href="{% static 'site/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'site/vendor/owl-carousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'site/vendor/photoswipe/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'site/vendor/photoswipe/default-skin/default-skin.css' %}">
<link rel="stylesheet" href="{% static 'site/vendor/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'site/css/style.css' %}">
<!-- font - fontawesome -->
<link rel="stylesheet" href="{% static 'site/vendor/fontawesome/css/all.min.css' %}">
<!-- font - stroyka -->
<link rel="stylesheet" href="{% static 'site/fonts/stroyka/stroyka.css' %}">