{% extends 'include/base.html' %}

{%load static%}


<!-- head -->
{% block head %}

{% endblock head %}

<!-- content -->
{% block content %}
{% if cart.products.count != 0 %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="{% static 'site/images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">Breadcrumb</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="{% static 'site/images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>Shopping Cart</h1>
            </div>
        </div>
    </div>
    <div class="cart block">
        <div class="container">
            <table class="cart__table cart-table">
                <thead class="cart-table__head">
                    <tr class="cart-table__row">
                        <th class="cart-table__column cart-table__column--image">Image</th>
                        <th class="cart-table__column cart-table__column--product">Product</th>
                        <th class="cart-table__column cart-table__column--price">Price</th>
                        <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                        <th class="cart-table__column cart-table__column--total">Total</th>
                        
                        <th class="cart-table__column cart-table__column--remove">Remove</th>
                    </tr>
                </thead>
                <tbody class="cart-table__body">
                    {% for productcart in cart.products.all %}
                    <tr class="cart-table__row">
                        <td class="cart-table__column cart-table__column--image">
                            <div class="product-image">
                                <a href="/product/{{  productcart.product.slug }}/" class="product-image__body">
                                   
                                    <img class="product-image__img" src=" {{ productcart.product.variationproduct.first.gallereis.first.image.url }}" alt="">

                                </a>
                            </div>
                        </td>
                        <td class="cart-table__column cart-table__column--product">
                            <a href="/product/{{  productcart.product.slug }}/" class="cart-table__product-name">{{ productcart.product.name }}</a>
                            <ul class="cart-table__options">
                                {% for var in productcart.product.variationproduct.all %}
                                    {% for attribute in var.attributs.all|slice:3 %}
                                    <div class="spec__row">
                                            <li>{{ attribute.variation.name }}</li>
                                            <li>{{ attribute.name }}</li>                                             
                                    </div>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="cart-table__column cart-table__column--price" data-title="Price">${{ productcart.product.variationproduct.first.price }}</td>
                        <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                            <form action="{% url 'change-qty' slug=productcart.product.slug %}" method="POST">
                                {% csrf_token %}
                                <div class="input-number">
                                    
                                    <input class="form-control  input-number__input" type="number" min="1" value="{{ productcart.qty }}" name="qty">
                                    <button type="submit" style="display:contents;"><div class="input-number__add"></div></button>
                                    <button type="submit" style="display:contents;"><div class="input-number__sub"></div></button>
                                </div>
                            </form>
                        </td>
                        <td class="cart-table__column cart-table__column--total" data-title="Total">${{ productcart.final_price }}</td>
                        
                        <td class="cart-table__column cart-table__column--remove">
                            <form action="{% url 'delete-product' slug=productcart.product.slug %}" method="POST">
                                {% csrf_token %}
                                
                                <a>
                                    <button type="submit" class="btn btn-primary cart__update-button">
                                        удалить
                                    </button>
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="cart__actions">
                <form class="cart__coupon-form">
                    <label for="input-coupon-code" class="sr-only">Password</label>
                    <input type="text" class="form-control" id="input-coupon-code" placeholder="Coupon Code">
                    <button type="submit" class="btn btn-primary">Apply Coupon</button>
                </form>
                <div class="cart__buttons">
                    <a href="index.html" class="btn btn-light">Continue Shopping</a>
                    <a href="" class="btn btn-primary cart__update-button">Update Cart</a>
                </div>
            </div>
            <div class="row justify-content-end pt-5">
                <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Cart Totals</h3>
                            <table class="cart__totals">
                                <thead class="cart__totals-header">
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>${{ cart.final_price}}</td>
                                    </tr>
                                </thead>
                                <tbody class="cart__totals-body">
                                    <tr>
                                        <th>Shipping</th>
                                        <td>
                                            $25.00
                                            <div class="cart__calc-shipping"><a href="#">Calculate Shipping</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td>
                                            $0.00
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="cart__totals-footer">
                                    <tr>
                                        <th>Total</th>
                                        <td>${{ cart.final_price}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="{% url 'checkout' %}">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__title">
                <h1>Shopping Cart</h1>
            </div>
        </div>
    </div>
    <div class="block-empty__body">
        <div class="block-empty__message">Your shopping cart is empty!</div>
        <div class="block-empty__actions">
            <a class="btn btn-primary btn-sm" href="{% url 'shop' %}">Continue</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

<!-- footer -->
{% block footer_link %}

{% endblock footer_link %}
