{% extends 'include/base.html' %}

{%load static%}


<!-- head -->
{% block head %}

{% endblock head %}

<!-- content -->
{% block content %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title">
            <h1>Поддежка</h1>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex">
                {% include 'profiles/include/account-navigation.html' with active='support' %}
            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Обратиться в поддержку</h5>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-7 col-xl-6">
                                <form method="post" action="{% url 'support' %}">
                                    {% csrf_token %}

                                    {% for field in form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                         </br>
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                    <div class="form-group mt-5 mb-0">
                                        <button class="btn btn-primary" type="submit">Отправить</button>
                                    </div>
                                </form>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- footer -->
{% block footer_link %}

{% endblock footer_link %}