{% extends 'include/base.html' %}

{%load static%}


<!-- head -->
{% block head %}

{% endblock head %}

<!-- content -->
{% block content %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__title">
                <h1>Мой аккаунт</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    {% include 'profiles/include/account-navigation.html' with active='dashboard' %}
                </div>
                
                
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="dashboard">
                        {% if profile %}
                        <div class="dashboard__profile card profile-card">
                            <div class="card-body profile-card__body">
                                <div class="profile-card__avatar">
                                    <img src="{{ profile.avatar.url }}" alt="">
                                </div>
                                <div class="profile-card__name">{{ default_address.first_name }} {{ default_address.last_name}}</div>
                                <div class="profile-card__email">{{ default_address.email }}</div>
                                <div class="profile-card__edit">
                                    <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        {% if address%}
                        <div class="dashboard__address card address-card address-card--featured">
                            <div class="address-card__badge">Основной адрес</div>
                            <div class="address-card__body">
                                <div class="address-card__name">{{ default_address.first_name }} {{ default_address.last_name}}</div>
                                <div class="address-card__row">
                                    {{ default_address.country }}<br>
                                    {{ default_address.postcode }}, {{ default_address.city }}<br>
                                    {{ default_address.street }}, {{ default_address.appartament }}
                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Phone Number</div>
                                    <div class="address-card__row-content">{{ default_address.phone }}</div>
                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Email Address</div>
                                    <div class="address-card__row-content">{{ default_address.email }}</div>
                                </div>
                                <div class="address-card__footer">
                                    <a href="{% url 'edit-address-view' slug=default_address.pk %}">Изменить адрес</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if orders %}
                        <div class="dashboard__orders card">
                            <div class="card-header">
                                <h5>Recent Orders</h5>
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-table">
                                <div class="table-responsive-sm">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Заказ</th>
                                                <th>Статус</th>
                                                <th>Всего</th>
                                                <th>Дата</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders|slice:3 %}
                                            <tr>
                                                <td><a href="{% url 'order-details' slug=order.id %}">№{{ order.id }}</a></td>
                                                <td>Pending</td>
                                                <td>${{order.order_sum}} за {{order.cart.total_products}} товар(а)</td>
                                                <td>{{ order.date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                            <h1> Чтобы получить доступ к профилю его нужно заполнить </h1>
                            
                            <div class="profile-card__edit">
                                <a href="{% url 'account-profile' %}" class="btn btn-secondary btn-sm">Заполнить профиль</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- footer -->
{% block footer_link %}

{% endblock footer_link %}
